@import '../../style/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;1,400&display=swap');

.book-button {
  width: 10rem;
  height: 3.5rem;
  font-family: 'Montserrat';
  margin: 0 2.5rem 0 1.2rem;
  // color: $important;
  color: white;
  border: none;
  text-decoration: none;
  padding: 0.8rem 1.2rem;
  background-color: $primary-color;
  border-radius: 5px;
  cursor: pointer;
}
