@import '../../style/variables.scss';
.navbar-accessibility-container {
  width: 20%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @media screen and(max-width: $mobile-nav) {
    display: none;
  }
  .navbar-accessibility-item {
    list-style: none;
    margin-right: 5rem;

    @media screen and(max-width: $screen-l) {
      margin-right: 2rem;
    }
    @media screen and(max-width: $screen-m) {
      margin-right: 1rem;
    }
    .navbar-accessibility-link {
      color: $white-color-logo;
      text-decoration: none;
      padding: 1rem;
      background-color: #2f4858;
      border-radius: 2rem;
      &:hover {
        background-color: rgba(0, 0, 0, 0.034);
        transition: 0.5s background-color ease;
      }
    }
  }
}
