@import '../../style/variables.scss';
.burger-menu {
  margin-left: 10px;
  padding: 0 1.5rem 0 0;
  width: 80%;
  height: 4rem;
  display: none;
  @media screen and(max-width: $screen-m) {
    display: flex;
    justify-content: flex-end;
  }
}
