@import '../../style/variables.scss';
.burger-menu {
  margin-right: 1.5rem;
  padding: 0 2rem;
  width: 50%;
  height: 4rem;
  display: none;
  color: white;
  @media screen and(max-width: $mobile-nav) {
    margin-top: 0.8rem;
    display: flex;
    justify-content: flex-end;
  }
  @media screen and(max-width: 321px) {
    padding-right: 2rem;
  }
}
