@import '../../style/variables.scss';
.navbar-informations-container {
  width: 80%;
  height: 4rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @media screen and(max-width: $mobile-nav) {
    width: 40%;
    display: none;
  }
  .navbar-informations-item {
    list-style: none;
    padding: 0 1.2rem;
    // margin-right: 1.2rem;
    @media screen and(max-width: 858px) {
      padding: 0;
      margin-right: 1rem;
    }

    .navbar-accessibility-link {
      margin: 0 2rem 0 1rem;
      color: white;
      text-decoration: none;
      padding: 0.8rem 1.2rem;
      background-color: $primary-color;
      border-radius: 5px;

      &:hover {
        // background-color: rgba(0, 0, 0, 0.034);
        transition: 0.5s background-color ease;
      }
      @media screen and(max-width: $screen-l) {
        margin: 1rem;
        // margin-right: 1.2rem;
      }
    }
    .navbar-informations-link {
      border-radius: 5px;
      transition: 0.3s all ease;
      color: white;
      padding: 1rem;
      text-decoration: none;

      &:hover {
        background-color: $primary-color;
        color: white;
      }
    }
  }
}
