//screen sizes
$screen-s: 480px;
$screen-m: 762px;
$screen-l: 1060px;
$screen-xl: 1440px;
$mobile-nav: 764px;
//colors
$blue-color-logo: #5065a8;
$white-color-logo: #f2eee4;

$important: #73d8ce;
$background: #ffffff;
$color: #91e5f6;

$primary-color: #133c55;
$secondary-color: #59a5d8;
$ternary-color: #91e5f6;
