.register-container {
  margin-top: 8rem;
  height: 30rem;
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  .register-form {
    width: 50%;
    height: 100%;
    background-color: red;
  }
}
